# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/

# Khác
.DS_Store
node_modules/
dist/
build/
.next/
.gemini/
tests/
logs/
*.log

# Cực kỳ quan trọng: Không được push file môi trường lên GitHub
.env
.envrc